@import url(http://fonts.googleapis.com/css?family=Oxygen:400);

body {
	background: #000;
}

h1 {
	font-family: 'Oxygen', sans-serif;
	color: #FFF;
	margin: 0 auto;
	width: 400px;
	font-size: 40px;
	padding-top: 50px;
	text-align: center;
}

#main-logo {
	width: 600px;
	height: auto;
	display: block;
	margin: auto;
	padding-top: 50px;
}